ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
/build/autotools/*.m4
!/build/autotools/as-compiler-flag.m4
!/build/autotools/introspection.m4
!/build/autotools/Makefile.am.*
/build/test-driver
compile
configure
config.guess
config.h
config.h.in
config.h.in~
config.log
config.rpath
config.status
config.sub
depcomp
/doc/json-glib-format.1
/doc/json-glib-validate.1
/doc/json-glib.types
/doc/gtkdoc-check.*
/doc/test-suite.log
gtk-doc.make
install-sh
json-glib-1.0.pc
json-glib.pc
/json-lcov.info
/json-lcov
.deps
.libs
.dirstamp
*.o
*.lo
*.test
/json-glib/json-enum-types.[ch]
/json-glib/json-glib-format
/json-glib/json-glib-validate
/json-glib/json-marshal.[ch]
/json-glib/json-version.h
/json-glib/Json-1.0.gir
/json-glib/Json-1.0.typelib
/json-glib/*.la
/json-glib/gcov-report.txt
/json-glib/stamp-enum-types
/json-glib/stamp-marshal
/json-glib/test-suite.log
/json-glib/abicheck.sh.*
libtool
ltmain.sh
missing
stamp-h1
test-report.xml
test-report.html
.*.swp
*.stamp
/doc/html
/doc/tmpl
/doc/xml
/doc/json-glib-decl-list.txt
/doc/json-glib-decl-list.txt.bak
/doc/json-glib-decl.txt
/doc/json-glib-decl.txt.bak
/doc/json-glib-undeclared.txt
/doc/json-glib-undocumented.txt
/doc/json-glib-unused.txt
/doc/json-glib.args
/doc/json-glib.hierarchy
/doc/json-glib.interfaces
/doc/json-glib.prerequisites
/doc/json-glib.signals
omf.make
xmldocs.make
*.gcov
