INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
doc/reference/version.xml
gtk-doc.make
install-sh
json-glib-1.0.pc
json-glib.pc
json-glib/.deps
json-glib/.libs
json-glib/json-array.lo
json-glib/json-marshal.c
json-glib/json-marshal.h
json-glib/json-marshal.lo
json-glib/json-object.lo
json-glib/json-parser.lo
json-glib/json-version.h
json-glib/libjson-glib-1.0.la
json-glib/stamp-json-marshal.h
libtool
ltmain.sh
missing
stamp-h1
